@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);

  font-family: "Roboto", sans-serif;
}
.container {
  margin: 64px;
  border-radius: 20px;
  background: #ecf4ff;
  box-shadow: 6px 6px 6px #0e1d2f;
  color: #1c1c1c;
  padding: 64px;
}

.perfil {
  display: flex;
  align-items: center;
}

.perfil-foto {
  border-radius: 460px;
  max-height: 160px;
  box-shadow: box-shadow: 0px 4px 4px 0px #00000040;

}

.titulo {
  margin-left: 16px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 24px;
}

.tema button {
align-self: flex-end;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: center;
padding: 8px 16px;
background: #ECF4FF;
border: 2px solid #0E1D2F;
border-radius: 100px;


}

.projetos {
  display: flex;
  flex-direction: column;
  background: linear-gradient(230.65deg, #499CFE 27.49%, #9CC8FC 83.19%);
box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
border-radius: 20px;
  margin-top: 32px;
  padding: 32px
    font-weight: 400;
  }

.projetos-titulo {
  list-style: none;
  font-weight: 700;
  color: #1C1C1C;
  font-size:48px;
  text-align: center;
  }

.projetos-item {
  list-style-type: none;
  font-size: 36px
  font-weight: 400;
  line-height: 48px;

}
.projetos-item a {
  color: #1C1C1C;
  text-decoration: none;
}

.dark{
  background: linear-gradient(236.85deg, #375B86 27.26%, #6B87A9 96.03%);
  }

.dark .container{
 background: #333439;
 color: #f6f6f6;
}

.dark .projetos-item{
  color: #333439;
}

.dark .tema button{
  background: #1c1c1c
         
    n
}





}